#brugtskrammel{
text-align: center;
font-family: sans-serif;
}

CSS FRA YOUTUBE VIDEO
.button-mineannoncer{
    border: solid 1px;
    font-size: 16px;
    padding: 12px 30px;
    background: white;
    color: lightblue;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 30px;
    position: absolute;
    top: 12px;
    right: 150px;
}

.button-rediger{
    border: solid 1px;
    font-size: 16px;
    padding: 12px 30px;
    background: white;
    color: lightblue;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 30px;
    position: absolute;
    top: 12px;
    right: 200px;

}

.button-logind {
    border: 0;
    font-size: 16px;
    padding: 12px 30px;
    background: lightskyblue;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 30px;
    position: absolute;
    top: 12px;
    right: 32px;
}


.button-opretannonce {
    border: solid 1px;
    font-size: 16px;
    padding: 12px 30px;
    background: white;
    color: lightblue;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 30px;
    position: absolute;
    top: 12px;
    right: 150px;
}

.liste-kategorier{
    font-family: sans-serif;
}

.varercontainer{
    border: 3px solid #fff;
    padding: 20px;
}

.Varer{
    text-align: center;
}

.brugerformular {
    text-align: center;
}

.logind-elleringenbruger{
    text-align: center;
}

.opretannonce {
    text-align: center;

}

.profil {
    text-align: center;
}

#profiladmin {
    font-size: 24;
    font-family: sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center; 
}

.button {
width: 100px;
height: 100px;
vertical-align: top;
color: black;
padding: 10px;
font-family: sans-serif;



}

.tabelID {
width: 100px;
height: 100px;
vertical-align: top;
background-color: aliceblue;
color: black;
border: 2px solid green
}

.button-home {
border: 0;
font-size: 16px;
padding: 12px 30px;
background: lightskyblue;
color: white;
cursor: pointer;
font-family: sans-serif;
border-radius: 30px;
position: absolute;
top: 12px;
left: 32px;
}

.buttonsalign {
    text-align: center;
}